/* pages/QRCodeProduce/QRCodeProduce.wxss */
@mainColor:#B1C280;
@itemColor:#f7fceb;
@textColor:#494e3a;
.container{
    padding: 35rpx;
    margin: 0rpx;
    // border: 1px solid rgb(0, 255, 34);

    height: 1000rpx;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text{
        font-size: 48rpx;
        color: @textColor;
    }

    .codeContainer{
        margin-top: 25rpx;

        // border: 1px solid rgb(68, 0, 255);
        position: relative; 

        height: 700rpx;
        width: 700rpx;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .theCode{
            // border: 1px solid yellow;
            margin-top: 170rpx;
        }

        image{
            position:absolute;
            width: 680rpx;
            height: 750rpx;

            // border: 1px solid red;
            top: 0rpx;
            left: 0rpx;
        }

        // padding: 25rpx;

        .QRCodePic{
            height: 420rpx;
            width: 420rpx;
    
            background-color: white;

            // position: absolute;
            // left: 170rpx;
            // top: 170rpx;
        }
        text{
            position: absolute;
            bottom: 45rpx;
            left: 250rpx;

            font-size: 24rpx;
            color: rgba(0, 0, 0, 0.377);
        }
    }

    
    .backBtn{
        width: 250rpx;
        text-align: center;
        background-color: @mainColor;

        border-radius: 20rpx;

        text{
            font-size: 36rpx;
            color: @itemColor
            
        }
    }
}