/* components/myTabBar.wxss */
@textColor:#2D3220;

.barContainer{
    // border: 1px solid green;
    border-radius: 25rpx;
    margin: 55rpx 0 0 0;
    box-shadow: 0 0 5rpx 2rpx rgb(196, 196, 196);
    padding-top: 10rpx;

    width: 700rpx;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.barItems{
    // border: 1px solid rgb(222, 241, 44);
    position: relative;

    width: 145rpx;
    height: 100rpx;
    display: flex;
    // justify-content: space-around;
    // align-items: stretch;

    text{
        color: @textColor;
        font-family:'Alibaba PuHuiTi',;
        font-weight: bold;
    }

    .naviItemType{
        width: 150rpx;
        flex-grow: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .naviItemIcon{
            width: 50rpx;
        }
    }
}

.middle{
    // border: 1px solid rgb(35, 35, 224);
    margin: 0;
    padding: 0;

    width: 150rpx;
    flex-grow: 0;

    height: 150rpx;
    width: 110rpx;
    position: absolute;
    top: -50rpx;
    left: 0rpx;

    image{
        position: absolute;
        left: 5rpx;
        top: 30rpx;
    }

    text{
        color: white;
    }
}

.badge{
    position: absolute;
    margin: 0;
    padding: 0 0 0rpx 0;
    // border: 1px solid red;
    border-radius: 60rpx;
    width: 55rpx;
    height: 55rpx;
    font-size: 22rpx;


    right: 0rpx;
    top: 0rpx;
    
    background-color: @textColor;

    
        
    
}