/* pages/Home/Home.wxss */
.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.slideShow{
  /* border: 1rpx solid red; */
  /* height: 500rpx; */
  width: auto;
  padding: 35rpx 60rpx 0 60rpx;

  .swiper{
    background-color: rgb(223, 223, 223);
    border-radius: 25px;
    height: 450rpx;
  
    /*轮播图的装饰*/
    box-shadow: 0 5px 10px 1px #bbbbbb;
  }
}


.fourButtonArea{
  /* border: 1rpx solid rgb(83, 209, 24); */
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15rpx;
  margin-top:45rpx;

  /*button的样式*/
  .buttonType{
    height: 280rpx;
    width: 280rpx;
    
    /* margin-bottom: 25rpx; */
    margin: 35rpx 25rpx 30rpx 25rpx;
    padding: 15rpx;
    box-shadow: 0 2rpx 25rpx 2rpx #c9c9c9;
    border-radius: 25rpx;
    /* border: 1px solid red; */

    /*button内部内容排序*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: relative;

    text{
      display: inline-block;
    }
    .badge{
      position: absolute;
      margin: 0;
      padding: 0 0 0rpx 0;
      // border: 1px solid red;
      border-radius: 60rpx;
      width: 55rpx;
      height: 55rpx;
      font-size: 24rpx;

      right: 40rpx;
      bottom:38rpx;
      
      background-color: rgb(193, 241, 161);
    }

  }
  .iconType{
    width: 80rpx;
    height: 80rpx;
    display: block;
    /* text-align: center; */
    /* border: 1px solid rgb(32, 235, 14); */
  }

  .dotContainer{
    /* border: 1px solid rgb(102, 30, 235); */
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;

    

    .dotType{
      width: 50rpx;
      height: 50rpx;
      display: inline-block;
      /* border: 1px solid rgb(41, 187, 206); */
      margin: 0rpx;
      padding: 0rpx;
      float: right;
    }
  }
}





